.reclamation-container {
    padding: 20px;
    font-family: 'Courier New';
}
 
h1{
    padding: 10px;
}
.reclamation-list {
    margin-top: 5px;
   /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 150px;*/
}

.reclamation-item {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.reclamation-title {
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    transition: font-size 0.3s ease;
    text-align: center;
}
.reclamation-title.clicked {
    font-size: 24px;
}
.reclamation-details {
    margin-top: 10px;
    color: #232336;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: auto; /* Automatic row height */
    gap: 10px; /* Space between grid items */
    text-align: left;
    font-size: 15px;
    padding: 10px;
    border-top: 1px solid #ddd;
    line-height: 1.6;
}
  
.reclamation-details p {
    margin: 5px 0;
    padding: 5px;
    background-color: #e0e0e0; /* Light background for each cell */
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-size: 15px;
    font-weight:550;
}

.delete-btn {
    text-align: center;
    padding: 10px 15px; /* Adjusted padding for consistency */
    background-color: #d32f2f; /* Slightly lighter red for better contrast */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 14px;
    margin-top: 15px; /* Added margin for better spacing */
    margin-bottom: 10px;
}
  
.edit-btn {
    background-color: #3da58a; /* Slightly darker green for better contrast */
    padding: 10px 15px; /* Adjusted padding for consistency */
    margin: 15px 5px 10px 5px; /* Adjusted margin for consistency */
    border-radius: 3px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 14px;
}
  
.delete-btn:hover {
    background-color: #c62828; /* Darker shade for hover */
    transform: scale(1.05); /* Slight scale effect on hover */
}
  
.edit-btn:hover {
    background-color: #45c4a2; /* Darker shade for hover */
    transform: scale(1.05); /* Slight scale effect on hover */
}
  
  
.paginationContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}



.etatAccepter{
    cursor: pointer;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    background-color:#45c4a2 ;
}
.etatAccepter:hover{
    transform: scale(1.05); 
    background-color:#45c4a2; 
}

.etatRefuser{
    cursor: pointer;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    background-color:lightcoral ;
}
.etatRefuser:hover{
    transform: scale(1.05); 
    background-color: lightcoral;
}