.user-table {
  width: 98%;
  border-collapse: collapse;
  border: 4px solid  #e0e0e0;
  margin: 12px ;
  margin-bottom: 40px;
}
  
.user-table th {
  background-color: #e0e0e0;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #7078fa;
  border-bottom: 2px solid #e0e0e0;
}  

.titre{

  font-size: 35px;
}

h1{
  align-items: center;
  text-align: center;
}

.user-table td {
  padding: 5px;
  border-bottom: 2px solid #e0e0e0;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.link{
  color: #7078fa; 
  text-decoration: none;
  margin: 15px 10px;
  text-align: 'right';
  margin-top: 25px;
  font-size: 18px;
  cursor: pointer;
}
.link:hover {
  color: #7078fa;        
}
.user{
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 0px;
  color: #151632;
}/*
@media screen and (max-width: 768px) {
  .user-table th, .user-table td {
    font-size: 16px;
  }
}*/
.page-btnn {
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px ;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  margin-left: 5px; 
  float: right; 
  margin-bottom: 20px;
  text-decoration: none;
  background-color: #bebebe;
}

.page-btnn.active {
  background-color: #1b1c27;
}

.delete{
  color: red;
  background: white;
  cursor: pointer;
  border: none;
  padding: 5px;
 
}
.reserver{
  color: #0056b3;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;

}

@media screen and (max-width: 768px) {
  .user-table th, 
  .user-table td {
    font-size: 16px;
    padding: 8px; /* Augmentez légèrement l'espacement pour les petites tailles d'écran */
  }
  .user-table {
    width: 100%; /* Le tableau occupe maintenant 100% de la largeur disponible */
  }
}